---
layout: "base.njk"
---

<div class="blog-section section-padding">
				<div class="container">
								<div class="row">
												<div class="col-lg-12 col-md-12">
																<div class="single-blog-wrap">
																				<img src="{{image}}" alt=""/>
																				<div class="blog-meta">
																								<span>
																												<i class="las la-user"></i>{{writer}}</span>
																								<span>
																												<i class="las la-calendar"></i>{{writenOn}}</span>
																				</div>
																				<h3>{{title}}</h3>
																				<p class="text-justify">{{article}}</p>
																</div>
												</div>
								</div>
				</div>
</div>