---
layout: "base.njk"
---

<link rel="stylesheet" href="/assets/css/custom.css ">

<div class="breadcroumb-area careersBG">
				<div class="container">
								<div class="row">
												<div class="col-lg-12">
																<div class="breadcroumb-title text-center">
																				<h1 class="white">Careers</h1>
																				<h6 class="white">
																								<a href="/">Home</a>
																								/ Careers</h6>
																</div>
												</div>
								</div>
				</div>
</div>

<div class="container section-padding">
				<div class="row"></div>
				<div class="col-lg-12">
								{% set openingsList = collections.openings %}
								{% include "careers.njk" %}
								<style>
												.container {
																margin-left: 4.7%;
																margin-right: 0;
												}

												.card {
																margin-right: 0;
												}

												p {
																padding: 0.1rem;
												}

												pre {
																font-size: 0.9rem;
																font-family: "Quicksand";
												}

												.space {
																padding-bottom: 0.5em;
												}
								</style>
				</div>
</div>