---
layout: 'base.njk' 
---
{% set pageTitle = "Employee Speaks" %}
{% set crumbLabel = "Employee Speaks" %}
{% include "page-header.njk" %}


<div class="causes-area section-padding">
    <div class="container">
        {% set employeeSpeaksList = collections.employeeSpeaks %}
        {% include "employeeSpeaks.njk" %}
    </div>
</div>