---
layout: "base.njk"
---

{% set pageTitle = "Field Speaks" %}
{% set crumbLabel = "Field Speaks" %}
{% include "page-header.njk" %}


<!-- Blog Index -->

<div class="blog-area mar-top-50 section-padding">
  <div class="container">
    <div class="row">
      {% set postslist = collections.posts %}
      {% include "blogPostIndex.njk" %}
    </div>
  </div>
</div>