--- 
layout: "base.njk" 
---

<link rel="stylesheet" href="/assets/fonts/custom/flaticon.css">
<!-- Hero Area -->

<div class="homepage-slides owl-carousel">
		<div class="single-slide-item slide-item-bg-1">
				<div class="hero-area-content">
						<div class="container">
								<div class="row justify-content-center">
										<div class="col-lg-12 text-center wow fadeInUp animated" data-wow-delay=".2s">
												<div class="section-title">
														<h5>
																<b>Microfinance</b>
														</h5>
														<h1>
																<b>Microfinance</b>
																stands as
																<br/>one of the most promising and cost effective tools<br/>
																in the fight against
																<b>poverty</b>
														</h1>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
<div class="single-slide-item slide-item-bg-3">
      <div class="hero-area-content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-center wow fadeInUp animated" data-wow-delay=".2s">
              <div class="section-title">
                <h5>
                  <b>COVID Support </b>
                </h5>
                <h1>
                  <b>COVID Relief</b>
                  Support<br/>provided to micro-finance borrowers<br/>with the help of
                  <b>Reliance foundation.</b>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div class="single-slide-item slide-item-bg-2">
				<div class="hero-area-content">
						<div class="container">
								<div class="row justify-content-center">
										<div class="col-lg-12 text-center">
												<div class="section-title">
														<h5>
																<b>Self4help</b>
														</h5>
														<h1>
																<b>Small Acts</b>,
																<br/>when multiplied by
																<b>millions</b><br/>
																can transform the
																<b>world</b>
														</h1>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>

<!-- Feature Area -->

<div class="service-area theme-3 section-padding">
		<div class="container-fluid">
				<div class="row">
						<div class="col-lg-5">
								<div class="section-title">
										<h6 style="color: var(--red);" data-i18n="self_at_glance">SELF at Glance</h6>
										<img class="i18n-wordmark" src="/assets/img/i18n/self-glance-en.svg" data-i18n-img="self-glance" alt="" width="280" height="56" loading="lazy" decoding="async"/>
								</div>
								<div class="self-engine">
										<img src="/assets/img/self-engine.png" alt="" class="about-us-bg col-lg-12" loading="lazy" decoding="async">
										<h2 class="text-center" data-i18n-auto>
												SELF focuses on providing the necessary resources - financial technical and managerial to unprivileged women to establish remunerative microenterprises and livelihoods
										</h2>
								</div>

						</div>
						<div class="col-lg-7 col-md-12">
								<div class="section-title">
										<h6 style="color: var(--red);" data-i18n="what_we_do_heading">What We Do</h6>
								</div>
								<div class="about-us-content-area">
										<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-12">
														<div class="single-service-item">
																<div class="feature-icon">
																		<i class="flaticon-business-and-finance"></i>
																</div>
																<img class="i18n-wordmark i18n-wordmark--service" src="/assets/img/i18n/micro-credit-en.svg" data-i18n-img="micro-credit" alt="Micro Credit" width="220" height="56" loading="lazy" decoding="async"/>
																<h5 class="sr-only" data-i18n="micro_credit">Micro Credit</h5>
																<p class="text-justify" data-i18n-auto>Microcredit is the extension of very small loans (microloans) to impoverished borrowers who typically lack collateral, steady employment, or a verifiable credit history. It is designed to support entrepreneurship and act as a tool to alleviate poverty.</p>
														</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-12 ">
														<div class="single-service-item">
																<div class="feature-icon">
																		<i class="flaticon-enterprise"></i>
																</div>
																<img class="i18n-wordmark i18n-wordmark--service" src="/assets/img/i18n/micro-enterprise-en.svg" data-i18n-img="micro-enterprise" alt="Micro Enterprise" width="240" height="56" loading="lazy" decoding="async"/>
																<h5 class="sr-only" data-i18n="micro_enterprise">Micro Enterprise</h5>
																<p class="text-justify" data-i18n-auto>The microenterprise has proven to be the backbone of economy both at micro and macro level. SELF provides motivational, information as well as managerial inputs to SHGs and JLG’s for undertaking income generating activities and micro enterprises.</p>
														</div>
												</div>
												<div class="col-lg-12 col-md-12 col-sm-12 less-width">
														<div class="single-service-item some-margin">
																<div class="feature-icon">
																		<i class="flaticon-insurance"></i>
																</div>
																<img class="i18n-wordmark i18n-wordmark--service" src="/assets/img/i18n/micro-insurance-en.svg" data-i18n-img="micro-insurance" alt="Micro Insurance" width="240" height="56" loading="lazy" decoding="async"/>
																<h5 class="sr-only" data-i18n="micro_insurance">Micro Insurance</h5>
																<p class="text-justify" data-i18n-auto>Sampada Entrepreneurship & Livelihoods Foundation acts as a Corporate Agency on behalf of two major insurance companies in order to provide “at-the doorstep” insurance services to women in remote rural areas. Risk coverage is provided by way of life as well as general insurance.
																</p>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>

<!-- Beneficiary Testimonials (CMS: showOnHome) -->
{% include "testimonials-home.njk" %}


<!-- Achievement Area -->
{% include "stats-bar.njk" %}

<!-- About Us Area-->

<div class="about-area section-padding theme-2">

<div class="container">
		<div class="row">
				<style>
						.hide {
								visibility: hidden;
						}

						#kada_marker:hover + #kada_contact {
								visibility: visible;
						}

						#shrigonda_marker:hover + #shrigonda_contact {
								visibility: visible;
						}
						#ambajogai_marker:hover + #ambajogai_contact {
								visibility: visible;
						}
						#tisgaon_marker:hover + #tisgaon_contact {
								visibility: visible;
						}
						#shirur_marker:hover + #shirur_contact {
								visibility: visible;
						}
						#bhenda_marker:hover + #bhenda_contact {
								visibility: visible;
						}
						#gangapur_marker:hover + #gangapur_contact {
								visibility: visible;
						}
				</style>
				<div class="col-lg-12">
						<div class="about-content-area">
								<div class="section-title">
										<h6>Where We Work</h6>
								</div>
						</div>

						
<div class="where-map-lazy" id="where-map" role="img" aria-label="Where we work map">
  <div class="where-map-lazy__placeholder">Loading map…</div>
</div>
<script>
(function () {
  var el = document.getElementById("where-map");
  if (!el) return;
  function loadMap() {
    if (el.getAttribute("data-loaded")) return;
    el.setAttribute("data-loaded", "1");
    fetch("/assets/img/where-we-work.svg")
      .then(function (r) { return r.text(); })
      .then(function (svg) {
        el.innerHTML = svg;
        var s = el.querySelector("svg");
        if (s) { s.setAttribute("class", (s.getAttribute("class") || "") + " where-map-svg"); s.style.maxWidth = "100%"; s.style.height = "auto"; }
      })
      .catch(function () {
        el.innerHTML = '<p class="text-center">Map unavailable.</p>';
      });
  }
  if ("IntersectionObserver" in window) {
    var io = new IntersectionObserver(function (entries) {
      entries.forEach(function (e) {
        if (e.isIntersecting) { loadMap(); io.disconnect(); }
      });
    }, { rootMargin: "250px 0px" });
    io.observe(el);
  } else {
    window.addEventListener("load", loadMap);
  }
})();
</script>

				</div>
		</div>
		<div class="row">
				<div class="col-lg-12">
						<div class="row text-center">
								<div class="col-lg-4 col-md-4">
										<div class="branch-details">
												<h5>
														Shrigonda</h5>
												<p>
														<li class="las la-map-marker"></li>
														Bankar Mala, Behind Tahsil Karyalaya<br/>
												</p>
										</div>
								</div>
								<div class="col-lg-4 col-md-4">
										<div class="branch-details">
												<h5>
														Kada</h5>
												<p>
														<li class="las la-map-marker"></li>"Dnyaneshwari", Bhavaninagar
														<br/>
												</p>
										</div>
								</div>
								<div class="col-lg-4 col-md-4">
										<div class="branch-details">
												<h5>
														Ambajogai</h5>
												<p>
														<li class="las la-map-marker"></li>
														Bejgamwar House, Sant Gajanan Niwas, Anandnagar<br/>

												</p>
										</div>
								</div>
						</div>
						<div class="row text-center">
								<div class="col-lg-3 col-md-3">
										<div class="branch-details">
												<h5>
														Tisgaon</h5>
												<p>
														<li class="las la-map-marker"></li>
														Pravati Nagar, Vikram Sasane Mala, Behind Nirmay Hospital<br/>

												</p>
										</div>
								</div>
								<div class="col-lg-3 col-md-3">
										<div class="branch-details">
												<h5>
														Bhenda</h5>
												<p>
														<li class="las la-map-marker"></li>
														Landewadi, Near Ugale Ladies Hostel<br/>

												</p>
										</div>
								</div>
								<div class="col-lg-3 col-md-3">
										<div class="branch-details">
												<h5>
														Beed</h5>
												<p>
														<li class="las la-map-marker"></li>
														MuktAnuiyam Trimurti Colony -2 , Dattanager, Nawagan College Road<br/>
												</p>
										</div>
								</div>
								<div class="col-lg-3 col-md-3">
										<div class="branch-details">
												<h5>Gangapur</h5>
												<p>
														<li class="las la-map-marker"></li>House No. 9, Samta Nagar, Vaijapur Road<br/>
												</p>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>

</div>

<!-- Gallery Area -->
<div class="portfolio-area section-padding">
<div class="container">
		<div class="row">
				<div class="col-lg-12">
						<div class="portfolio-list">
								<div class="single-portfolio-item large port-bg-1 design illustration">
										<p>Providing feasible livelihood alternatives.</p>
								</div>
								<div class="single-portfolio-item port-bg-2 illustration brand">
										<p>Socializing likeminders.</p>
								</div>
								<div class="single-portfolio-item port-bg-3 design print">
										<p>Empowering with knowledge.</p>
								</div>
						</div>
				</div>
		</div>
</div>
</div>

<!-- Partner Area -->

<!-- Sponsor Area -->
